.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  backdrop-filter: blur(8px);
  padding: 10px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4b400; /* Color al pasar el mouse */
}

/* Hamburguesa (solo visible en móvil) */
.hamburguesa {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 20px;
  cursor: pointer;
}

.hamburguesa span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Animación al abrir */
.hamburguesa.activo span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburguesa.activo span:nth-child(2) {
  opacity: 0;
}

.hamburguesa.activo span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  backdrop-filter: blur(8px);
  padding: 10px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    pointer-events: none;
    opacity: 0;
  }

  .nav-links.activo {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
  }

  .hamburguesa {
    display: flex;
  }
}
