.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  backdrop-filter: blur(8px);
  padding: 10px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4b400; /* Color al pasar el mouse */
}

