.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../public/img/Login.svg') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(4px);
}

.login-form {
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-logo {
  height: 320px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: white;
  border-radius: 30px;
  padding: 10px 15px;
  border: 1px solid #ccc;
}

.input-container .icon {
  margin-right: 10px;
  color: #777;
}

.input-container input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background: transparent;
}

.login-button {
  background-color: #0043b3;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #002c80;
}